---
export let title: string;
---

<!-- Common -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/global.css">
  <!-- Sitemap -->
  <link rel="sitemap" href="/sitemap.xml">

  <!-- TODO: RSS -->

  <!-- TODO: SEO -->
  <!-- <link rel="canonical" href={canonicalURL}> -->

  <!-- OpenGraph -->
  <meta property="og:title" content={title}>

  <!-- Twitter -->
  <meta name="twitter:title" content={title}>
</head>
